# Firebase
.firebaserc
.env
js/firebase-config.generated.js
*.local
.firebase/
firebase-debug*.log
firestore-debug.log
ui-debug.log

# Node
node_modules/
functions/node_modules/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
